:root {
  --logo-header-color: #000000;
  --h-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --footer-adress-transparent: rgba(255, 255, 255, 0.6);
  --backgroung-main-color: #ffffff;
  --backgroung-hero-footer: #2f303a;
  --backgroung-team: #f5f4fa;
  --font-family-main: 'roboto', 'sans-serif';
  --font-family-secondary: 'raleway', 'sans-serif';
}

body {
  font-family: var(--font-family-main);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--backgroung-main-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* =================== Header ===================== */
.list {
  list-style: none;
  font-style: normal;

  width: 1600px;
}

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;

  color: var(--accent-color);
  line-height: 1.2;
}

.logo-header-color {
  color: var(--logo-header-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.list-menu:hover,
.list-menu:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}
.nav-list .list-menu.current {
  color: var(--accent-color);
}

/* ===================== Hero ======================= */
.hero {
  background-color: var(--backgroung-hero-footer);
  color: var(--backgroung-main-color);
}
.hero-h {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 280px;
  margin-left: 452px;
  margin-right: 452px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-header {
  background-color: var(--accent-color);
  color: var(--backgroung-main-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.filters-list .radio-button.current {
  background-color: var(--accent-color);
}
/* ===================== Наши преимущества ======================= */
h2,
h3 {
  color: var(--h-color);
}

.advantages {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}
.advantages-description {
  font-size: 14px;
  line-height: 1.88;
}
/* ===================== Особенности ======================= */
.particuliarities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.particuliarities-photo {
  width: 370px;
}
.team-backgroung {
  background-color: var(--backgroung-team);
}
.our-team {
}
.specialization-img {
}
.teammate-photo {
  width: 270px;
}
.teammate-name,
.teammate-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teammate-name {
  font-weight: 500;
}
/* =========================== Footer =============================== */
.footer-background {
  background-color: var(--backgroung-hero-footer);
  position: absolute;
  height: 648px;
}
.logo-footer-color {
  color: var(--backgroung-main-color);
}
.address-list {
  color: var(--backgroung-main-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-adress {
  color: var(--footer-adress-transparent);
}
/* =================== Projects ===================== */

.radio-button {
  background-color: var(--backgroung-team);
  color: var(--h-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}
.filters-list .radio-button.current,
.radio-button:hover,
.radio-button:focus {
  background-color: var(--accent-color);
  color: var(--backgroung-main-color);
}
.projects-photo {
  width: 370px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
}
